<div class="container">
  <div class="user-image">
    <img src="https://avatars.githubusercontent.com/u/61670495?v=4" alt="User image">
  </div>

  <div class="user-details">
    <div>
      <p>Nome:</p>
      <p>Thiago Kachinsky</p>
    </div>

    <div>
      <p>Empresa:</p>
      <p>Sinerlog</p>
    </div>

    <div>
      <p>Localidade:</p>
      <p>Brazil</p>
    </div>

    <div>
      <p>Repos Qtd.:</p>
      <p>61</p>
    </div>

    <div>
      <p>Criado em:</p>
      <p>10/10/2020</p>
    </div>

    <div>
      <p>E-mail:</p>
      <p>tjk091@email.com</p>
    </div>

    <div class="user-contact">
      <a href="">Thiago Kachi</a>
    </div>
  </div>
</div>
